﻿@{
    ViewBag.Title = "Index";
}
@model KnowniesWeb.Models.MainPageModel

<h2>Index</h2>

@if (Model == null || (Model != null && Model.viewpart != "forgetpassword"))
{
    using (Html.BeginForm("Login", "Main", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    @Html.Label("Kullanıcı Adı:")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.LoginForm.UserName)
                </td>
            </tr>
            <tr>
                <td>

                    @Html.Label("Şifre:")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.LoginForm.Password)
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Giriş" />@Html.ActionLink("Şifremi Unuttum", "ForgetPassword")@Html.ActionLink("Kaydol", "Signup")</td>
            </tr>

            @Html.LabelForModel(Model != null && Model.Result != null && !Model.Result.IsCompleted ? Model.Result.ErrorMessage : "")
        </table>
    }
}
else if(Model != null && Model.viewpart == "forgetpassword")
{
    using (Html.BeginForm("ForgetPasswordResult", "Main", FormMethod.Post))
    {
        <table>
            <tr>
                <td>
                    @Html.Label("Kullanıcı Adı veya Email Giriniz")
                </td>
                <td>
                    @Html.TextBoxFor(m => m.RetrivePasswordKey)
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Gönder" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    @if (Model != null && Model.Result != null)
                    {
                        if (Model.Result.IsCompleted)
                        {
                            Html.Label("Şifre sıfırlama emailiniz kayıtlı email adresinize iltilmiştir");
                        }
                        else
                        {
                            @Html.LabelForModel(Model.Result.ErrorMessage)
                        }
                    }


                </td>

            </tr>


        </table>
    }

}

