﻿@{
    ViewBag.Title = "Signup";
}
@model KnowniesWeb.Models.MainPageModel
<h2>Signup</h2>
@using (Html.BeginForm("SignupResult", "Main", FormMethod.Post)) {
<table>
    <tr>
        <td>@Html.Label("Kullanıcı Adı")</td>
        <td>@Html.TextBoxFor(m=>m.User.USER_NAME)</td>
       
    </tr>
    <tr>
        <td>@Html.Label("Şifre")</td>
        <td>@Html.PasswordFor(m => m.User.PASSWORD)</td>
    </tr>
    <tr>
        <td>@Html.Label("Şifre Tekrar")</td>
        <td>@Html.PasswordFor(m => m.User.CONFIRM_PASSWORD)</td>
    </tr>
    <tr>
        <td>@Html.Label("Email")</td>
        <td>@Html.TextBoxFor(m => m.User.EMAIL)</td>
    </tr>
    <tr>
        <td>@Html.Label("Ad")</td>
        <td>@Html.TextBoxFor(m => m.User.NAME)</td>
    </tr>
    <tr>
        <td>@Html.Label("Soyad")</td>
        <td>@Html.TextBoxFor(m => m.User.SURNAME)</td>
    </tr>
    <tr>
        <td>@Html.Label("Yaş")</td>
        <td>@Html.TextBoxFor(m => m.User.AGE)</td>
    </tr>
    <tr>
        <td>@Html.Label("Telefon")</td>
        <td>@Html.TextBoxFor(m => m.User.PHONE)</td>
    </tr>
    <tr>
        <td colspan="2"><input type="submit" value="Kaydol" />@Html.LabelForModel(Model!= null && Model.Result != null && !Model.Result.IsCompleted ? Model.Result.ErrorMessage : "")</td>
        
    </tr>
    <tr>
        <td colspan="2"></td>

    </tr>
</table>
}