﻿@{
    ViewBag.Title = "UserProfile";
}
@model KnowniesWeb.Models.MainPageModel
<h2>UserProfile</h2>
<table>
    <tr>
        <td>@Html.Label(Model.UserInfo.Name)</td>

    </tr>
    <tr><td>@Html.Label(Model.UserInfo.Surname)</td></tr>
    

</table>
